<!-- <ion-header> -->
  <h1 class="title">Login</h1>
<!-- </ion-header> -->
<ion-content>
  <ion-item>
    <!-- <ion-label position="floating"><ion-icon name="person-outline"></ion-icon> Username</ion-label> -->
    <ion-input class="username" type="text"  placeholder="  Username"><ion-icon name="person-outline"></ion-icon> </ion-input>
  </ion-item>
  
    <ion-item>
      <!-- <ion-label position="floating"> Password</ion-label> -->
      <ion-input type="password" class="pass" placeholder="  Password"><ion-icon name="bag-outline"> </ion-icon></ion-input>
      
    </ion-item>
    <br>
    <!-- <ion-button round><ion-icon name="arrow-forward-outline"></ion-icon></ion-button> -->
    

      <button ion-button ><ion-icon name="arrow-forward-outline"></ion-icon></button>
      
    
    </ion-content>

    